<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinn.projecty.databases">

    <application>
        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.jinn.projecty"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>